applications/sample/camera/*
arkcompiler
base
build
commonlibrary
developtools
device/*
domains
drivers
fondations
foundation
ide
interface
kernel
napi_generator
out
prebuilts
productdefine
test
third_party
vendor
.gn
